@import '~@fluentui/react/dist/sass/References.scss';

.totalPackage {
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em 75px ;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  border-radius: 1em;
  border: 3px solid "[theme:bodyDivider, default: #eaeaea]";
  background-color: "[theme:bodyBackground, default: #ffffff]";
  background-color: var(--bodyBackground);
  text-align: center;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

}